//- Metadata
-
    const WEB = htmlWebpackPlugin.options.webConfig;

meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")

title= `${WEB.title} – ${WEB.subtitle}`

meta(name="description" content=WEB.description)
meta(name="format-detection" content="telephone=no")
meta(name="theme-color" content=WEB.theme)
meta(name="viewport" content="width=device-width, initial-scale=1.0")
